
.CodeMirror
{
    font-size: 14px;
    line-height: 16px;
    border: 1px solid #CCCCCC;
    border-top-color: #999999;
}
/*
.CodeMirror-focused
{
    border-color: #CF982D;
}
*/
.CodeMirror pre 
{
    overflow: visible;
}

.CodeMirror-scroll {
  height: 480px;
}