bin/
obj/
.vs/
*.user
*.suo
Web.Release.config
Content/packaged/
App/StackExchange.DataExplorer.DB/sql/
App/_ReSharper.DataExplorer/
App/_ReSharper.DataExplorerFull/
*.itrace.csdef
App/TestResults/
PublishProfiles/
!App/packages/**/lib/**/*.dll
*.stackdump
sh.exe.stackdump