body
{
    font-family: Colibri, Verdana;
    font-size: 70%;
}

a
{
    color: #0033CC;
}

table
{
    width: 100%;
    border-collapse: collapse;
}

td
{
    font-size: 70%;
    padding: 0.4em;
    vertical-align: top;
}

th
{
    font-size: 70%;
    text-align: left;
    padding: 0.4em;
    color: #555555;
    vertical-align: top;
}

pre
{
	font-family: Consolas, Monaco, monospace;
}

p
{
	margin: 0; 
	padding: 0;
	margin-bottom:0.5em;
}

.key-col
{
	width:200px;
}

.value-col
{
	font-family: Consolas, Monaco, monospace;
	font-size: 75%;
}

#ErrorLog
{
	margin:0;
	border:0;
}

#ErrorType
{
	color: #5C2424;
}

#ErrorLogTime
{
	font-size:200%;
	color: #555;
}

.even-row
{
    background-color: white;
}

.odd-row
{
    background-color: #EFFBE5;
}

.unimportant-row
{
	display:none;
}

.type-col
{
    font-weight: bold;
}

.code-col, .date-col, .time-col
{
    text-align: right;
}

.details-link
{
	color: Black;
	text-decoration: none;
}

.delete-link, .protect-link
{
	color: Maroon;
	text-decoration: none;
}

.delete-link:hover, .protect-link:hover
{
	background-color:Maroon;
	color:White;
}

.delete-link 
{
    margin-right:2px;
}

.duplicate-count 
{
    color:Red;
    
}

#ErrorDetail
{
    font-size: 110%;
    background-color: #ffffcc;
    padding: 1em;
    width: 100%;
    overflow: scroll;
    font: Consolas, monospace;
}

#ErrorTitle
{
    font-weight: bold;
    font-size: 140%;
    margin-top:-10px;
}

#ErrorType, #ErrorMessage
{
    display: block;
}

#ErrorTypeMessageSeparator
{
    display: none;
}

#PageTitle
{
    font-family: Colibri, Verdana;
    color: maroon;
    font-weight: bold;
    font-size: 250%;
}

.table-caption
{
	color: #224C00;
    font-weight: bold;
    font-size: 180%;
    margin-top:10px;
}

.scroll-view
{
    width: 100%;
    overflow: auto;
}

#error-view
{
	margin-top:5px;
	padding:6px;
	font-size:120%;
	width:200px;
	float:right;
	border: 2px dotted #bbb;
}

#error-view a
{
	color: #555;
	text-decoration: none;
}

#Footer
{
	padding-top:10px;
	clear:both;	
	color:#ccc;
}

#pagination
{
	float:right;
	font-size:250%;
	color: #444;
	font-size:200%; 
	font-weight:bold;
}

#page-num
{
	border: 2px solid #444; 
	padding-left: 3px;
	padding-right: 3px;
	margin-right:5px;
}

#page-num a
{
	color: #444;
	text-decoration: none;
}

#page-num:hover
{
	background-color: #444;
	color: white;
}

#page-num-current
{
	border: 2px solid #444; 
	padding-left: 3px;
	padding-right: 3px;
	margin-right:5px;
	background-color: #444;
	color: white;
}

#page-num-current a
{
	text-decoration: none;
	background-color: #444;
	color: white;
}

#page-num a:hover
{
	color: white;
	text-decoration: none;
}


#errorcount
{
	float:left;
	color: Maroon;
	font-size: 250%;
	font-weight:bold;
}

.value-highlight 
{
	color:Maroon;
	font-weight:bold;
}

#version
{
	width:240px;
	font-weight: bold;
	float:right;
	color:#ccc;
}

#servertime
{
	font-size:200%;
	float:left;
}