@using StackExchange.DataExplorer

@if (Request.IsAuthenticated)
{
    <a href="/users/@Current.User.Id">@Current.User.Login</a>
    <span class="link-separator">|</span>
    <a href="/account/logout">log out</a>
}
else
{
    <a href="/account/login?returnurl=@Request.RawUrl">log in</a>
}