@using StackExchange.DataExplorer
@using StackExchange.DataExplorer.Helpers
@using System.Web.Optimization
@Scripts.Render("~/assets/js/flot")
<div id="queryResults" style="display: none;">
    <div id="resultTabs" class="subheader">
        <div class="miniTabs">
            <a id="resultsTabButton" href="#grid" class="youarehere">Results</a> 
            <a id="graphTabButton" href="#graph">Graph</a>
            <a id="messagesTabButton" href="#messages">Messages</a>
            <a id="planTabButton" href="#executionPlan" onclick="QP.drawLines();">Execution Plan</a>
        </div>
    </div>
    <div id="grid">
    </div>
    <div id="graph" style="display: none;width: 960px;height: 600px;">
    </div>
    <div id="messages" style="display: none;">
        <pre><code></code></pre>
    </div>
    <div id="executionPlan" style="display: none;">
    </div>
    <div id="gridStats" class="ui-widget-header">
        <span class="duration"></span><span class="rows"></span>
        <div class="clear">
        </div>
    </div>
</div>