@model QuerySetViewModel
@using StackExchange.DataExplorer;
@using StackExchange.DataExplorer.Helpers;
@using StackExchange.DataExplorer.ViewModel;

<div id="history" class="right-group">
    <span class="heading">Revisions</span>
    <ul>
    @if (Model.Revisions != null && Model.Revisions.FirstOrDefault() != null)
    {
        var history = Model.Revisions.ToArray();
        int? selectedRevisionId = Model.CurrentRevision != null ? Model.CurrentRevision.Id : (int?)null;

        foreach (var revision in history)
        {
            <li id="revision-@revision.Id" class="revision@(revision.Id == selectedRevisionId ? " selected" : "")">
                <a href="/@Current.Controller.Site.Name.ToLower()/revision/@Model.QuerySet.Id/@revision.Id@Model.QuerySet.Slugify()" title="@revision.Query.QueryBody">
                    <span class="revision-info" title="">@revision.Id</span>
                    @Html.Raw(revision.CreationDate.ToRelativeTimeSpanMini())
                </a>
            </li>
        }
    }
    else
    {
        <li class="empty">Waiting for you to make your first edit&hellip;</li>
    }
    </ul>
</div>