@model StackExchange.DataExplorer.ViewModel.RevisionHistory
@using StackExchange.DataExplorer;
@using StackExchange.DataExplorer.Helpers;
@using StackExchange.DataExplorer.ViewModel;

<div id="history" class="right-group">
    <span class="heading">Revisions</span>
    <ul>
    @if (Model.History != null && Model.History.FirstOrDefault() != null)
    {
        var history = Model.History.ToArray();
        int? selected = Model.Current != null ? Model.Current.Id : (int?)null;
        var parents = new HashSet<int>();

        foreach (var revision in history)
        {
            <li id="revision-@revision.Id" class="revision">
                <a href="/@Model.SiteName.ToLower()/query/edit/@revision.Id@revision.QuerySet.Slugify()" title="@revision.Query.QueryBody">
                    <span class="revision-info" title="">@revision.Id</span>
                    @Html.Raw(revision.CreationDate.ToRelativeTimeSpanMini())
                </a>
            </li>
        }
    }
    else
    {
        <li class="empty">Waiting for you to make your first edit&hellip;</li>
    }
    </ul>
</div>