@model StackExchange.DataExplorer.ViewModel.SubHeader
@using StackExchange.DataExplorer.ViewModel
@if (Model != null)
{
    <div class="subheader">
        @if (Model.Title != null)
        {
            <h2>@Model.Title</h2>   
        }
        @if (Model.Items != null)
        {
            <div class="nav-tabs">
                @foreach (SubHeaderViewData item in Model.Items)
                {
                    <a
                    @if (item.Selected)
                    {
                        <text>class="youarehere"</text>   
                    }
                    href="@item.Href" title="@item.Title">@item.Description</a>
                }
            </div>   
        }
    </div>
}