@model PagedList<User>
@using StackExchange.DataExplorer.Models
@using StackExchange.DataExplorer.Helpers

@if (Model.TotalCount > 0)
{
    <table id="userList">
        <tbody>
        @foreach (var row in Model.ToRows(9))
        {
            <tr>
            @foreach (User user in row)
            {
                <td>@Html.Partial("User", user)</td>
            }
            </tr>
        }
        </tbody>
    </table>

    @UIHelper.PageNumber(ViewData["Href"].ToString() + "&page=-1", Model, "pager fr")
}
else
{
    <strong>No users matched your search</strong>
}