@model StackExchange.DataExplorer.Models.Revision
@using StackExchange.DataExplorer
@using StackExchange.DataExplorer.Models
@{
    Layout = "~/Views/Shared/Query.cshtml";
    this.SetPageTitle(Model.Metadata.Title + " - Stack Exchange Data Explorer");
    
    string sql = null, name = null, description = null;

    sql = Model.Query.QueryBody;
    name = Model.Metadata.Title;
    description = Model.Metadata.Description;
}

@section Metadata
{
    @Html.Partial("QueryVoting", ViewData["QueryVoting"])
    <div class="error-notification supernovabg">
        <h2>
            Please <a href="/account/login">login or register</a> to vote for this query.</h2>
        (click on this box to dismiss)
    </div>
    <p>@description</p>
}

<pre id="queryBodyText"><code>@sql</code></pre>