<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
      <add name="AppConnection" providerName="System.Data.SqlClient"  connectionString="Data Source=.\SQLExpress;Initial Catalog=DataExplorer;Integrated Security=True" />
      <add name="ReaderConnection" connectionString="Data Source=.\SQLExpress;Initial Catalog=!!DB!!;Integrated Security=True" />
    </connectionStrings>
</configuration>
