@{ Layout = "~/Views/Tutorial/Shared/Navigation.cshtml"; }

<h2>Getting Started with Writing Queries</h2>
<p>
    This tutorial will teach you the basics of writing queries against the Stack Exchange Data Explorer (SEDE),
    starting from "hello world" and working up from there to some interesting multi-table queries. We don't
    assume you already know SQL or database concepts. We're also not setting out to teach you everything you
    can do with SEDE queries. You can do a lot with just a few basic SQL concepts and the database design,
    and then you can explore further on your own.
</p>
<p>
    We hope that the combination of this tutorial and reviewing existing queries will give you the tools you
    need to explore Stack Exchange data with your own queries.
</p>
<a class="next" href="/tutorial/intro-to-databases">But First: A Very Brief Introduction to Databases <i class="icon-arrow-right"></i></a>