
@{ Layout = "~/Views/Tutorial/Shared/Navigation.cshtml"; }

<h2>Next Steps</h2>
<p>
    This tutorial has provided an introduction to SEDE queries. We've mainly looked at parts of the
    <strong>Posts</strong> and <strong>Users</strong> tables, but as you can see from the schema viewer in
    the <a href="//data.stackexchange.com/meta.stackexchange/query/new">query composer</a>, there's a lot
    more available. For documentation of most of the individual tables and columns in the database,
    <a href="//meta.stackexchange.com/a/2678">see the schema documentation on Meta Stack Exchange</a>.
</p>
<p>
    For more information about special features of the SEDE query language, including graphing, see the
    <a href="/help">SEDE help</a>.
</p>
<p>
    This tutorial uses the simplest kind of <code class="cm-s-default"><span class="cm-sql-operators">JOIN</span></code>
    statements. There are other types, <a href="http://blog.codinghorror.com/a-visual-explanation-of-sql-joins/">explained
    in these diagrams</a>.
</p>
<p>
    You can find some interesting queries in <a href="//worldbuilding.meta.stackexchange.com/a/2014/28">this
    list on one of our sites</a>. For <em>tons</em> of interesting queries and starting points for your own
    work, see the <a href="//data.stackexchange.com/meta.stackexchange/queries">queries written by other people</a>.
    That link takes you to queries written against Meta.SE; go to <a href="/">the full list</a> to choose your
    favorite site and see its queries.
</p>
<p>
    Helpful hint: You <em>probably</em> don't want to practice on Stack Overflow; it has <em>way</em> more data
    than any other site and your query might time out. Pick your favorite medium-sized site to practice on.
</p>
