@using StackExchange.DataExplorer
@{this.SetPageTitle("Stack Exchange Data Explorer Administration - Stack Exchange Data Explorer");}
<p>
<ul>
    <li id="refreshStats"><span style="display: none;">refreshing...</span> <a href="/admin/refresh-stats">
        Update site statistics</a> (will update front page stats)</li>
    <li><a href="/admin/whitelist">Whitelist</a></li>
    <li><a href="/admin/find-dupe-users">Find dupe users</a> (<a href="/admin/find-dupe-users?useemail=true">by email</a>)</li>
    <li>Clear <a href="/admin/clear-cache">all caches</a> or just the <a href="/admin/clear-table-cache">helper table cache</a></li>
</ul>
</p>
<script type="text/javascript">
    $(document).ready(function () {
        $("#refreshStats a").click(function () {
            $(this).hide();
            $("#refreshStats span").show();
            $.post(this.href, null, function () {
                $("#refreshStats a").show();
                $("#refreshStats span").hide();
            });
            return false;
        });
    });
</script>
