<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
    <add key="webPages:Enabled" value="false" />
    <add key="webPages:Version" value="3.0.0.0" />
    <!-- AppSettings can be set here or in the database -->
    <!--<add key="QueryTimeout" value="120"/>-->
    <!--<add key="ConcurrentQueries" value="2"/>-->
    <!--<add key="MaxResultsPerResultSet" value="50000"/>-->
    <!--<add key="MaxTotalResults" value="100000"/>-->
    <!--<add key="FetchDataInReadUncommitted" value="true"/>-->
    <!--<add key="GuessUserId" value="true"/>-->
    <!--<add key="EnableEnforceSecureOpenId" value="false"/>-->
    <!--<add key="EnforceSecureOpenIdDefault" value="false"/>-->
    <!--<add key="EnableWhiteList" value="false"/>-->
    <!--<add key="AllowExcludeMetaOption" value="false"/>-->
    <!--<add key="AllowRunOnAllDbsOption" value="false"/>-->
    <!--<add key="EnableCancelQuery" value="true"/>-->
    <!--<add key="EnableBypassCache" value="false"/>-->
    <!--<add key="RecaptchaPublicKey" value=""/>-->
    <!--<add key="RecaptchaPrivateKey" value=""/>-->
    <!--<add key="AutoExpireCacheMinutes" value="-1"/>-->
    <!--<add key="HelperTableOptions" value=""/>-->
    <!--<add key="EnableOdata" value="false"/>-->
    <!--<add key="AuthMethod" value="Default"/>-->
    <!--<add key="ActiveDirectoryViewGroups" value=""/>-->
    <!--<add key="ActiveDirectoryAdminGroups" value=""/>-->
    
    <!--<add key="OAuthSessionSalt" value=""/>-->
    <!--<add key="GoogleOAuthClientId" value=""/>-->
    <!--<add key="GoogleOAuthSecret" value=""/>-->
</appSettings>