<?xml version="1.0" encoding="utf-8"?>

<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<sectionGroup name="SimpleErrorHandler">
			<section name="errorLog" type="System.Configuration.SingleTagSectionHandler" />
			<section name="ignoreRegex" type="System.Configuration.DictionarySectionHandler" />
		</sectionGroup>
		<section name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection" requirePermission="false" allowLocation="true" />
	</configSections>
	<dotNetOpenAuth>
		<openid>
			<relyingParty>
				<behaviors>
					<!-- The following OPTIONAL behavior allows RPs to use SREG only, but be compatible
                    with OPs that use Attribute Exchange (in various formats). -->
					<add type="DotNetOpenAuth.OpenId.Behaviors.AXFetchAsSregTransform, DotNetOpenAuth" />
				</behaviors>
			</relyingParty>
		</openid>
	</dotNetOpenAuth>
	<system.diagnostics>
		<trace>
			<listeners>
			</listeners>
		</trace>
	</system.diagnostics>
	<appSettings />
	<connectionStrings>
		<add name="AppConnection" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=DataExplorer;Integrated Security=True;" />
		<add name="ReaderConnection" connectionString="Data Source=localhost;Initial Catalog=!!DB!!;Integrated Security=True;" />
	</connectionStrings>
	<system.web>
		<httpRuntime requestValidationMode="2.0" executionTimeout="120" />
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
    -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			</assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
    -->
		<authentication mode="Forms">
			<forms loginUrl="~/account/login" timeout="2880" />
		</authentication>
		<membership>
			<providers>
				<clear />
			</providers>
		</membership>
		<profile>
			<providers>
				<clear />
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="AppConnection" applicationName="/" />
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear />
				<add connectionStringName="AppConnection" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
				<add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</providers>
		</roleManager>
		<customErrors mode="RemoteOnly">
			<error statusCode="404" redirect="/404" />
		</customErrors>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
			<namespaces>
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Linq" />
				<add namespace="System.Collections.Generic" />
			</namespaces>
		</pages>
		<httpHandlers>
			<add verb="POST,GET,HEAD" path="errors" type="SimpleErrorHandler.ErrorLogPageFactory, SimpleErrorHandler" />
			<add verb="POST,GET,HEAD" path="errors/*" type="SimpleErrorHandler.ErrorLogPageFactory, SimpleErrorHandler" />
			<add verb="POST,GET,HEAD" path="errors/*/*" type="SimpleErrorHandler.ErrorLogPageFactory, SimpleErrorHandler" />
		</httpHandlers>
		<httpModules>
			<add name="ErrorLog" type="SimpleErrorHandler.ErrorLogModule, SimpleErrorHandler" />
		</httpModules>
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
	<system.webServer>

		<rewrite>
			<rules>
				<rule name="odata">
					<match url="^([^/]+)/atom/?(.*)$" />
					<action type="Rewrite" url="odata.svc/{R:2}?5D6DA575E16342AEB6AF9177FF673569={R:1}" appendQueryString="true" />
				</rule>
				<rule name="cloudexchange" stopProcessing="true">
					<match url=".*" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="odata.stackexchange.com" />
					</conditions>
					<action type="Redirect" url="http://data.stackexchange.com/{R:0}" />
				</rule>
			</rules>
		</rewrite>


		<urlCompression doDynamicCompression="true" dynamicCompressionBeforeCache="true" />
		<httpCompression noCompressionForHttp10="false" noCompressionForProxies="false" dynamicCompressionDisableCpuUsage="93" dynamicCompressionEnableCpuUsage="93" staticCompressionDisableCpuUsage="99" staticCompressionEnableCpuUsage="99">
			<scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" dynamicCompressionLevel="4" />
		</httpCompression>
		<httpErrors errorMode="Custom">
			<remove statusCode="404" />
			<error statusCode="404" responseMode="ExecuteURL" path="/404" />
		</httpErrors>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="ErrorLog" type="SimpleErrorHandler.ErrorLogModule, SimpleErrorHandler" />
		</modules>
		<handlers>
			<remove name="UrlRoutingHandler" />
			<add name="SimpleErrorHandler" verb="POST,GET,HEAD" path="errors" type="SimpleErrorHandler.ErrorLogPageFactory, SimpleErrorHandler" />
		</handlers>
		<validation validateIntegratedModeConfiguration="false" />

	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<SimpleErrorHandler>
		<errorLog type="SimpleErrorHandler.MemoryErrorLog, SimpleErrorHandler" size="25" />
	</SimpleErrorHandler>
	<location path="errors">
		<system.web>
			<authorization>
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<system.serviceModel>

    <services>
      <service name="Schedule" behaviorConfiguration="DataServiceBehavior">
        <endpoint binding="webHttpBinding" contract="System.Data.Services.IRequestHandler"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DataServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  
	</system.serviceModel>
</configuration>