<?xml version="1.0"?>
<configuration>
  
  <!-- configuration sections -->
  <configSections>
    <sectionGroup name="SimpleErrorHandler">
      <section name="errorLog" type="System.Configuration.SingleTagSectionHandler"/>
      <section name="ignoreRegex" type="System.Configuration.DictionarySectionHandler"/>
    </sectionGroup>
  </configSections>
  
  <appSettings/>
  
  <system.web>
    <compilation debug="true">
    </compilation>
    <authentication mode="Windows"/>
    <trace enabled="true"/>
    <httpModules>
      <add name="ErrorLog" type="SimpleErrorHandler.ErrorLogModule, SimpleErrorHandler"/>
    </httpModules>
    <!-- handler allows you to view exceptions @ http://<YourVirtualRoot>/errors.aspx -->
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="errors.aspx" type="SimpleErrorHandler.ErrorLogPageFactory, SimpleErrorHandler"/>
    </httpHandlers>
  </system.web>
  
  <SimpleErrorHandler>
    <ignoreRegex>
      <add key="ignored1" value="albacore" />
    </ignoreRegex>
    <!--
    <errorLog type="SimpleErrorHandler.XmlErrorLog, SimpleErrorHandler" LogPath="~\logs"/>
    <errorLog type="SimpleErrorHandler.MemoryErrorLog, SimpleErrorHandler" size="25"/>
    -->
    <errorLog type="SimpleErrorHandler.XmlErrorLog, SimpleErrorHandler" LogPath="~\errorlog" MaxFiles="50"/>
  </SimpleErrorHandler>
</configuration>
