@using StackExchange.DataExplorer
@using StackExchange.DataExplorer.Helpers
@{this.SetPageTitle("Log In or Register - Stack Exchange Data Explorer");}
<link rel="stylesheet" type="text/css" href="/Content/login.min.css" />
<div class="page-description">
    @if (ViewData["Message"] != null)
    {
        <div class="val-message val-error">@ViewData["Message"]</div>
    }
    <div class="js-openid-wrap">
        <div class="js-script-only">
            @if (AppSettings.EnableGoogleLogin)
            {
                <div class="preferred-login" data-provider='{ "name": "Google", "oauth2url": "https://accounts.google.com/o/oauth2/auth" }'>
                    <p>
                        <span class="icon" style="background-position: -426px 0;"></span>
                        <span>Log in using Google</span>
                    </p>
                </div>
            }
            @*<div class="preferred-login" data-provider='{ "name": "Facebook", "oauth2url": "https://www.facebook.com/v2.0/dialog/oauth" }'>
                <p>
                    <span class="icon" style="background-position: -390px 0;"></span>
                    <span>Log in using Facebook</span>
                </p>
            </div>*@

            @if (AppSettings.EnableStackAppsAuth)
            {
                <div class="preferred-login" data-provider='{ " name": "Stack Overflow", "oauth2url": "@AppSettings.StackAppsAuthUrl" }'>
                    <p>
                        <span class="icon" style="background-position: -356px 0;"></span>
                        <span>Log in using Stack Overflow</span>
                    </p>
                </div>
            }
            else
            {
                <div class="preferred-login" data-provider='{ " name": "Stack Exchange", "url": "https://openid.stackexchange.com/" }'>
                    <p>
                        <span class="icon" style="background-position: -356px 0;"></span>
                        <span>Log in using Stack Exchange</span>
                    </p>
                </div>
            }
        </div>
        <div>
            <noscript>
                <p class="noscript-notice">Open ID is a service that allows you to log on to many different websites using a single identity. Find out <a href="http://openid.net/what/">more about OpenId</a> and <a href="http://openid.net/get/">how to get an OpenID-enabled account</a>.</p>
            </noscript>
        </div>
        <form class="openid-form" action="/user/authenticate" method="POST">
            <input type="hidden" id="oauth2url" name="@Keys.OAuth2Url" value="">
            <div class="small-buttons js-script-only">
                <div>
                    <a title="Login with Yahoo" href="#" data-provider='{ "name": "Yahoo", "url": "https://me.yahoo.com/" }'
                       style="background-position: 1px 4px;"></a>
                </div>
                <div>
                    <a title="Login with LiveJournal" href="#" data-provider='{ "name": "LiveJournal", "url": "http://{username}.livejournal.com/" }'
                       style="background-position: -73px 4px;"></a>
                </div>
                <div>
                    <a title="Login with WordPress" href="#" data-provider='{ "name": "Wordpress", "url": "http://{username}.wordpress.com/" }'
                       style="background-position: -38px 4px;"></a>
                </div>
                <div>
                    <a title="Login with Blogger" href="#" data-provider='{ "name": "Blogger", "url": "https://{username}.blogspot.com/" }'
                       style="background-position: -108px 4px;"></a>
                </div>
                <div>
                    <a title="Login with Verisign" href="#" data-provider='{ "name": "Verisign", "url": "https://{username}.pip.verisignlabs.com/" }'
                       style="background-position: -458px 4px;"></a>
                </div>
                <div>
                    <a title="Login with AOL" href="#" data-provider='{ "name": "AOL", "url": "https://openid.aol.com/{username}" }'
                       style="background-position: -142px 4px;"></a>
                </div>
            </div>
            <div class="username-area js-script-only">
                <input class="openid-username" type="text" value="">
            </div>
            <div class="openid-url-area">
                <noscript>
                    <p class="noscript-notice">Because JavaScript is disabled, you can only log in by entering your OpenID URL manually:</p>
                </noscript>
                <div class="vt large">
                    <input id="openid_identifier" name="@Keys.OpenId" placeholder="Or, you can manually enter your OpenID" class="openid-identifier" type="text">
                    <input name="submit-button" type="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    var currentUrl, usernameBox = $(".openid-username");
    $('.js-script-only:not(.username-area)').show();
    $('.js-openid-wrap').on('click', '[data-provider]', function(e) {
        e.preventDefault();
        var form = $('.openid-form');
        var provider = $(this).data('provider');
        if (provider.oauth2url) {
            $('#oauth2url').val(provider.oauth2url);
            form.submit();
        } else {
            $('#oauth2url').val('');
            if (provider.url.indexOf('{username}') > -1) {
                var parent = $(this).parent();
                if (parent.hasClass('selected')) return;
                parent.addClass('selected').siblings().removeClass('selected');
                usernameBox.width(20)
                           .insertAfter(this)
                           .stop(true, true)
                           .animate({ width: 150 }, 300)
                           .attr('placeholder', provider.name + ' username')
                           .focus();
                currentUrl = provider.url;
                $('#openid_identifier').val('');
            } else {
                $('#openid_identifier').val(provider.url);
                form.submit();
            }
        }
    });
    $('.openid-username').on('keydown keyup change', function () {
        var val = $(this).val();
        $('#openid_identifier').val(val ? currentUrl.replace('{username}', $(this).val()) : '');
    });
</script>