a.run-prompt {
    float: right;
    font-size: 10px;
    padding: 2px 7px;
    background-color: #6B87A2;
    color: #FFF;
    margin-top: -18px;
    margin-bottom: 6px;
    margin-right: 7px;
}

a.run-prompt i {
    margin-right: 3px;
}

a.run-prompt:hover {
    text-decoration: none;
    background-color: #0C57A0;
}

a.run-prompt + * {
    margin-top: 21px;
}

a.next {
    margin-top: 0.8em;
    margin-bottom: 1em;
    font-size: 110%;
    float: right;
}